<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <meta charset="UTF-8">
    <title>Insurance App</title>
</head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<article>
    <div class="container my-4">
        <h1>Poistenci</h1>
        <p class="text-center">
            <a th:href="@{/customers/new}" class="btn btn-primary">Nový Poistenec</a>
        </p>

        <p th:text="'Počet poistencov: ' + ${customerList.size()}">[Počet]</p>

        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
            <tr>
                <th>Meno</th>
                <th>Adresa</th>
                <th>Akcie</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customerList}">
                <td th:text="${customer.firstName + ' ' + customer.lastName}">Meno</td>
                <td th:text="${customer.street + ', ' + customer.city}">Adresa</td>
                <td>
                    <a th:href="@{/customers/detail/{id}(id=${customer.id})}" class="btn btn-sm btn-warning">Editovať</a>
                    <a th:href="@{/customers/delete/{id}(id=${customer.id})}"
                       class="btn btn-sm btn-danger"
                       onclick="return confirm('Naozaj chcete zmazať tohto poistenca?');">
                        Zmazať
                    </a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>

    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            <li class="page-item active"><a class="page-link" th:href="@{/references}">1</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/references}">2</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/references}">3</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/references}" aria-label="Next">&raquo;</a></li>
        </ul>
    </nav>
</article>
</body>
</html>