<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <title>Pridať poistenie</title>
</head>
<body>

<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="container mt-5">
    <h1 th:text="'Pridať poistenie k ' + ${customer.firstName} + ' ' + ${customer.lastName}"></h1>
    <hr>

    <form th:action="@{${insurance.id} != null ? '/customers/insurance/update/' + ${insurance.id} : '/customers/insurance/save/' + ${customer.id}}"
          method="post" th:object="${insurance}">

    <div class="mb-3">
            <label class="form-label">Poistenie</label>
            <select class="form-select" th:field="*{type}">
                <option value="" disabled selected>Vyberte typ poistenia</option>
                <option value="Poistenie majetku">Poistenie majetku</option>
                <option value="Havarijné poistenie">Havarijné poistenie</option>
                <option value="Zdravotné poistenie">Zdravotné poistenie</option>
                <option value="Životné poistenie">Životné poistenie</option>
                <option value="Poistenie vozidla">Poistenie vozidla</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Čiastka</label>
            <input type="number" class="form-control" th:field="*{amount}" placeholder="10000000">
        </div>

        <div class="mb-3">
            <label class="form-label">Predmet poistenia</label>
            <input type="text" class="form-control" th:field="*{subject}" placeholder="Byt">
        </div>

        <div class="mb-3">
            <label class="form-label">Platnosť od</label>
            <input type="text" class="form-control" th:field="*{validFrom}" placeholder="1.1.2022">
        </div>

        <div class="mb-3">
            <label class="form-label">Platnosť do</label>
            <input type="text" class="form-control" th:field="*{validTo}" placeholder="31.12.2022">
        </div>

        <button type="submit" class="btn btn-primary">Uložiť</button>
    </form>
</div>

</body>
</html>
